{
	"ava": {
		"files": [
			"src/tests/**/*",
			"!dist/*",
			// "!**/exclude-files-with-this-name.*"
		],
		"match": [
			"*Tests*",
			"!dist*"
		],
		"concurrency": 5,
		"failFast": true,
		"failWithoutAssertions": false,
		"environmentVariables": {
			"MY_ENVIRONMENT_VARIABLE": "some value"
		},
		"verbose": true,
		"require": [
			"./my-helper-module.js"
		],
		"nodeArguments": [
			"--trace-deprecation",
			"--napi-modules"
		],
		"typescript": {
			"rewritePaths": {
				"src/": "src/tests/"
			},
			"compile": false
		}
	}
}